.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.list-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  text-align: center;
}
.add-contact {
  width: 25px;
  float: right;
}
.add-user{
	width: 120px;
  	margin-left: auto;
  	margin-right: auto;
  	cursor: pointer;
}
.button {
  font-size: 16px;
}
.usernaneError{
  color: red	
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
